html {
    background-color: rgb(238,236,228);
    color: rgb(63, 67, 71);
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: normal;
    font-stretch:expanded;
    padding: 1em;
    margin: 0;
  }

  h1 {
    color: rgb(103, 86, 86);
    font-size: 2em;
    border-bottom: 5px solid rgb(71,19,35);
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  .table {
    text-decoration:dotted;
  }

  a:link,
  a:visited {
    color: rgb(13, 34, 52);
  }

  a:hover {
    text-decoration: none;
    color: rgb(71,19,35);
  }

  .button { 
    background-color: rgb(150,134,115);
    border:none;
    color:rgb(238,236,228);
    padding: 10px 24px;
    text-align:center;
    font-size:18px;
    margin: 10px 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius:8px;
  }
  .button:hover {
    background-color:rgb(150,134,115);
    opacity:1;
  }

  #navbardesktop {
    background-color: rgb(167, 78, 105);
    padding: .5em;
    position: sticky;
    top:0;
  }
  #navbardesktop a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  #navbardesktop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
  }

  #navbardesktop li{
    font-size: 15px;
  }
  .button a{
    text-decoration:none;
  }

  #navbarmobile {
    display:none;
  }

  @media only screen and (max-width:600px)
  {
    #navbarmobile {
      display:flex;
      top:0px;
      padding:10px;
    }
    #navbarmobile ul {
        flex-direction:column;
        width:25%;
        background-color:rgb(213, 162, 232);
        list-style-type: none;
        text-align:left;
      }
      #navbarmobile ul li{
        margin-top:10px;
        margin-bottom:10px;
  
      }
      #navbarmobile ul li a {
        color:rgb(255, 255, 255);
        text-decoration:none;
      }
      #navbardesktop {
        display:none;
        max-width:100%;
      }
}

.linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, rgb(223, 79, 79), rgb(233, 169, 42), rgb(93, 194, 90), rgb(66, 175, 229), rgb(156, 66, 229),rgb(223, 79, 79));
    background-size: 100% auto;
    
    color: #000;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 3s linear infinite;
    background-size: 400% 100%
  }
            @keyframes shine{
      to {
        background-position: 200% center;
      }
    }